<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Cats</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
        <h2>Cats and More Cats </h2>
            <p> The Kitties </p>
            <table class="u-max-full-width margin-top">

                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Image</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Snow</td>
                    <td>
                      <img src="kitty-cat.jpeg" alt="Snow the Cat" height="150" width="200"></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Cool</td>
                    <td>
                      <img src="kitty-kat2.jpeg" alt="Cool the Cat" height="150" width="200"></a>
                    </td>
                  </tr>
                </tbody>

            </table>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
