<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Cars Form</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/stylesheet/normalize.css">
  <link rel="stylesheet" href="/stylesheet/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <h1> Car Registration</h1>
            <form action='/users' method='post'>
        <div class="input-block">
            Model:  <input type='text' value="Model" onfocus="if (this.value=='Model') this.value=''" placeholder="Model">
        </div>
        <div class="input-block">
            Make:  <input type='text'  value="Make" onfocus="if (this.value=='Make') this.value=''" placeholder="Make">
        </div>
        <div class="input-block">
            Year:  <input type="text" value="Year" onfocus="if (this.value=='Year') this.value=''" placeholder="Year">
        </div>
        <div class="input-block">
            Style: <input type="text" value="Style" onfocus="if (this.value=='Style') this.value=''" placeholder="Style">
        </div>
      </form>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
