<!DOCTYPE html>
<html lang="en" >
<head>
    <title> Survey Form </title>
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Hello Counter!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <h2>Survey Form</h2>
            <form action="/result" method="post" class="forms">
                Name: <input type="text" name="name" class="input-block">
                <div>
                    Dojo Location: <select name="geo_location">
                        <option value="San Jose">San Jose</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Bellevue">Bellevue</option>
                        <option value="Dallas">Dallas</option>
                    </select>
                </div>
                <div>
                    Favorite Language: <select name="prog_language">
                        <option value="Python">Python</option>
                        <option value="Go">GoLang</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Java">Java</option>
                    </select>
                </div>
                <div>
                    <label class="comment">Comment (optional)</label>
                    <textarea id="comment" name="commentinput" rows="10" cols="50" placeholder="Comment"></textarea>
				</div>

                <input type='submit' value="Submit" class="button">

            </form>

        </div>
   </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
</body>
</html>
