<!DOCTYPE html>
<html lang="en">
<head>
    <title> Survey Form </title>
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Hello Counter!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
   
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">

            <div>
                <h3>Submitted Info</h3>
                <p>Name: <%= dojo_location %></p>
                <p>Dojo Location: <%= favorite_lang %></p>
                <p>Favorite Language: <%= favorite_lang %> </p>
                <p>Comment: <%= comment %> </p>

            </div>

            <form action="http://localhost:7010/" class="forms">
                <input type="submit" value="Go Back" class="button" />
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
